<section style="margin-bottom:10px">
    <input type="text" class="from-control" placeholder="Navigate products by Name"
    @bind-value="SearchTerm" @bind-value:event="oninput" @onkeyup="SearchChanged"/>
</section>

@code {

}
