<section>
    <select class="from-control" @onchange="ApplySort">
        <option value="-1">-Sort By-</option>
        <option value="name">Name</option>
        <option value="price">Price</option>
        <option value="price desc">Price Descending</option>
    </select>
</section>

@code {

}
